
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <table class="col-xs-8">
            <tr><td>52</td><td>52</td><td>52</td><td>52</td></tr>
        </table>
    </div>
</div>
